body{
    overflow:hidden;
}
.mycar{
    width:60px;
    height:62px;
    position: absolute;
    background: url(/img/car.png) no-repeat;
    transform: rotate(180deg);
}
.cloud{
    position:absolute;
    left:18px;
    bottom:-70px;
    display:none;
}
.park{
    box-sizing:border-box;
    width:80px;
    height:80px;
    border-left:10px solid #333;
    border-right:10px solid #333;
    border-bottom:10px solid #333;
    position:fixed;
    right:50px;
    bottom:50px;
}